[tool.black]
line-length = 111
include = '''
/(
    \.pyi?
  | /kita
)/
'''
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | tests/data
  | env
  | kita.egg-info
)/
'''